MvcApp/Service References/ProxyOrdenesCompra/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdenesCompra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiciosPC4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdenesCompra_ListarOrdenes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenes" />
  </wsdl:message>
  <wsdl:message name="IOrdenesCompra_ListarOrdenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenesCompra_ListarOrdenesProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesProveedor" />
  </wsdl:message>
  <wsdl:message name="IOrdenesCompra_ListarOrdenesProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenesCompra_ListarOrdenesEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesEstado" />
  </wsdl:message>
  <wsdl:message name="IOrdenesCompra_ListarOrdenesEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOrdenesEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdenesCompra">
    <wsdl:operation name="ListarOrdenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenes" message="tns:IOrdenesCompra_ListarOrdenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenesResponse" message="tns:IOrdenesCompra_ListarOrdenes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenesProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenesProveedor" message="tns:IOrdenesCompra_ListarOrdenesProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenesProveedorResponse" message="tns:IOrdenesCompra_ListarOrdenesProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenesEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenesEstado" message="tns:IOrdenesCompra_ListarOrdenesEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenesCompra/ListarOrdenesEstadoResponse" message="tns:IOrdenesCompra_ListarOrdenesEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrdenesCompra" type="tns:IOrdenesCompra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarOrdenes">
      <soap:operation soapAction="http://tempuri.org/IOrdenesCompra/ListarOrdenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenesProveedor">
      <soap:operation soapAction="http://tempuri.org/IOrdenesCompra/ListarOrdenesProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOrdenesEstado">
      <soap:operation soapAction="http://tempuri.org/IOrdenesCompra/ListarOrdenesEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdenesCompra">
    <wsdl:port name="BasicHttpBinding_IOrdenesCompra" binding="tns:BasicHttpBinding_IOrdenesCompra">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosPC4/OrdenesCompra/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>