MvcApp/Service References/ProxyOrdenesCompra/ServiciosPC4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosPC4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosPC4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrdenesCompraBe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenesCompraBe" nillable="true" type="tns:OrdenesCompraBe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenesCompraBe" nillable="true" type="tns:ArrayOfOrdenesCompraBe" />
  <xs:complexType name="OrdenesCompraBe">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodProv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionProv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrProv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstaOco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecAte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaOco" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumOco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonProv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenesCompraBe" nillable="true" type="tns:OrdenesCompraBe" />
</xs:schema>